<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/add/staff}" th:object="${staffEr}" method="post">
    <div class="mb-3">
        <label class="form-label">Mã</label>
        <input type="text" class="form-control" name="staffCode" th:value="${staffEr.staffCode}">
        <div th:if="${#fields.hasErrors('staffCode')}" class="text-danger" th:errors="*{staffCode}"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Họ tên</label>
        <input type="text" class="form-control" name="name" th:value="${staffEr.name}">
        <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Email FPT</label>
        <input type="text" class="form-control" name="accountFPT" th:value="${staffEr.accountFPT}">
        <div th:if="${#fields.hasErrors('accountFPT')}" class="text-danger" th:errors="*{accountFPT}"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Email FE</label>
        <input type="text" class="form-control" name="accountFE" th:value="${staffEr.accountFE}">
        <div th:if="${#fields.hasErrors('accountFE')}" class="text-danger" th:errors="*{accountFE}"></div>
    </div>
    <div class="row">
        <p class="col-4">Trạng thái</p>
        <div class="form-check col-4">
            <input class="form-check-input" type="radio" name="status" value="true"
                   th:checked="${staffEr.status == true}">
            <label class="form-check-label">Đang hoạt động</label>
        </div>
        <div class="form-check col-4">
            <input class="form-check-input" type="radio" name="status" value="false"
                   th:checked="${staffEr.status == false}">
            <label class="form-check-label">Ngưng hoạt động</label>
        </div>
    </div>
    <div class="text-danger" th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>
    <div class="text-info" th:if="${error != null}">
        <p th:text="${message}"></p>
    </div>
    <button type="submit" class="btn btn-success">ADD</button>
</form>
<form th:action="@{/export/excel}" method="get">
    <button type="submit" class="btn btn-info">Download Template</button>
</form>
<form th:action="@{/import}" method="get">
    <button class="btn btn-info">Import</button>
</form>
<table class="table">
    <h1>Danh sách nhân viên</h1>
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã nhân viên</th>
        <th>Họ Tên</th>
        <th>Email FPT</th>
        <th>Email FE</th>
        <th>Trạng thái</th>
        <th>Thao tac</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a, indexStat : ${staff}">
        <td th:text="${indexStat.index + 1}"></td>
        <td th:text="${a.staffCode}"></td>
        <td th:text="${a.name}"></td>
        <td th:text="${a.accountFPT}"></td>
        <td th:text="${a.accountFE}"></td>
        <td th:text="${a.status == true} ? 'Đang hoạt động' : 'Ngưng hoạt động'"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/detail/staff(id=${a.id})}">DeTail</a>
            <a class="btn btn-danger" th:href="@{/staff/chage(id=${a.id})}">Change</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>